/*************************************************
**************************************************

Website Name: Admin dashboard
Website URL: none
Website Author: Robertas Vasiliauskas

Color Guide
***************


*************************************************

Type Guide
***************


Debugging Tools
***************
border: 1px solid #fff;

*************************************************/

/************************************************
*************************************************
0. CSS Reset ------------------------ 
1. Universal Styles -----------------
2. Header & Nav Styles -------------- 
3. Main Body Styles ----------------- 
4. Sidebar Styles ------------------- 
5. Widget Styles --------------------
6. Footer Styles -------------------- 
7. Comments & Form Styles ----------- 
8. Generic Styles ----------- 
*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------------------------------------
  ------------------------------------------------
  1. Universal Styles
  ------------------------------------------------
  ----------------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4fr;
  grid-template-areas:
    "nav header"
    "nav main";
}

/*----------------------------------------------
  ------------------------------------------------
  2. Header & Nav Styles
  ------------------------------------------------
  ----------------------------------------------*/

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}
/*----------------------------------------------
  ------------------------------------------------
  3. Main Body Styles
  ------------------------------------------------
  ----------------------------------------------*/

main {
  grid-area: main;
}

/*----------------------------------------------
  ------------------------------------------------
  4. Sidebar Styles
  ------------------------------------------------
  ----------------------------------------------*/

/*----------------------------------------------
  ------------------------------------------------
  5. Widget Styles
  ------------------------------------------------
  ----------------------------------------------*/

/*----------------------------------------------
  ------------------------------------------------
  6. Footer Styles
  ------------------------------------------------
  ----------------------------------------------*/

/*----------------------------------------------
  ------------------------------------------------
  7. Comments & Form Styles
  ------------------------------------------------
  ----------------------------------------------*/

/*----------------------------------------------
  ------------------------------------------------
  8. Generic Styles
  ------------------------------------------------
  ----------------------------------------------*/
